# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
# Zsh
!.zshrc
# P10K
!.p10k.zsh
# Vim
!.vimrc
# vim settings for IdeaVim
!.ideavimrc

# Whitelist
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
# Alacritty
!.config/
.config/*
!.config/alacritty/
# Vim
!.vim/
.vim/*
# vim theme
!.vim/colors
!.vim/after
!.vim/autoload
.vim/autoload/*
!.vim/autoload/airline
!.vim/autoload/lightline
!.vim/autoload/dracula.vim
!.vim/autoload/onedark.vim
!.vim/autoload/everforest.vim
!.vim/autoload/gruvbox_material.vim
# coc settings
!.vim/coc-settings.json
# ranger
!.config/
.config/*
!.config/ranger/
.config/ranger/plugins/__pycache__/*
# lazygit (macos)
!Library
Library/*
!Library/Application Support
Library/Application Support/*
!Library/Application Support/lazygit
Library/Application Support/lazygit/*
Library/Application Support/lazygit/config.yml


