# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!.zshrc
!.p10k.zsh

# Whitelist .config/alacritty/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!.config/
.config/*
!.config/alacritty/